@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/black-alpha.css';

:root {
  --color-background: var(--mauve-2);
  --color-background-soft: var(--mauve-1);
  --color-background-mute: var(--mauve-4);
  --color-background-label: var(--mauve-3);

  --color-border: var(--mauve-6);
  --color-border-hover: var(--mauve-8);

  --color-heading: var(--mauve-12);
  --color-text: var(--mauve-11);
  --color-text-alt: var(--mauve-10);
  --color-text-white: var(--mauve-3);
  --color-text-white-alt: var(--mauve-7);
  --color-text-white-light: var(--mauve-1);
  --color-text-white-dark: var(--mauve-8);

  --color-link: var(--blue-11);
  --color-link-dark: var(--blue-12);
  --color-link-hover: var(--blue-9);
  --color-highlight: var(--blue-10);

  --color-overlay-black: var(--black-a10);
  --color-overlay-black-light: var(--black-a6);
  --color-overlay-white: var(--white-a10);
  --color-overlay-white-light: var(--white-a6);

  --color-shadow: var(--black-a2);
  --color-shadow-light: var(--black-a1);

  --color-close: var(--red-10);

  --color-black: black;
  --color-black-light: var(--black-a10);
  --color-white: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-heading: var(--mauve-10);
    --color-text: var(--mauve-11);
    --color-text-white: var(--mauve-12);
    --color-text-white-alt: var(--mauve-11);
    --color-text-white-dark: var(--mauve-10);

    --color-link: var(--blue-6);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

a {
  text-decoration: none;
  transition: color 0.25s, background 0.25s;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}